.button-icon {
    width: toRem(48);
    height: toRem(48);
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 1);
    background-color: rgba(200, 200, 200, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;

    @include media-desktop {
        transition: 0.3s ease;
        transition-property: background-color;

        &:hover {
            background-color: rgba(200, 200, 200, 0.8);
        }
    }
}

.icon {
    color: rgba(255, 255, 255, 1);
    font-size: toRem(20);
}