.ideas {

    padding-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.decoration {
    display: block;
    position: absolute;
    color: rgba(250, 251, 253, 1);
    top: -24px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    font-size: 48px;
}

.title {
    color: rgba(86, 86, 101, 1);
    margin: 0 15px;
    font-size: 24px;
    line-height: 34px;
    text-align: center;
    font-weight: 600;

    @include media-desktop {
        width: 785px;
        font-size: 36px;
        line-height: 50px;
    }
}

.circles {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;

    @include media-desktop {
        flex-direction: row;
        justify-content: center;
        margin-top: 60px;
    }
}

.circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 210px;
    height: 210px;
    border: 1px solid rgba(86, 86, 101, 1);
    border-radius: 50%;

    p {
        color: rgba(86, 86, 101, 1);
        font-size: 14px;
        line-height: 22px;
        text-align: center;
    }

    @include media-maxTablet {

        &:nth-child(2),
        &:nth-child(3) {
            margin-top: -20px;
        }
    }

    @include media-desktop {
        margin-top: 0;
        width: 240px;
        height: 240px;

        &:nth-child(2),
        &:nth-child(3) {
            margin-left: -20px;
        }
    }
}