.header {
    display: flex;
    justify-content: center;
}

.menu {
    position: absolute;
    top: toRem(60);
    right: 0;
    opacity: 0;
    transform: translateY(toRem(-500));
    z-index: 2;
    background-color: #fff;
    width: 100%;
    box-sizing: border-box;

    transition: 0.3s ease;
    transition-property: opacity, transform;

    @include media-maxTablet {
        min-height: calc(100vh - #{toRem(60)});
        padding-top: toRem(32);
        padding-left: toRem(15);
        padding-right: toRem(15);
    }

    @include media-desktop {
        top: toRem(92);
        right: toRem(2);
        width: toRem(240);
        height: auto;
        border: 1px solid rgba(86, 86, 101, 1);
        border-radius: toRem(20);
        padding: toRem(12);
    }
}

.is-menu {
    opacity: 1;
    transform: translateY(0);
}

.link {
    cursor: pointer;
    display: block;
    padding: toRem(12);
    color: #565665;
    font-size: toRem(16);
    line-height: toRem(19);

    &+& {
        margin-top: toRem(8);
    }

    @include media-desktop {
        font-size: toRem(15);
        line-height: toRem(18);

        &+& {
            margin-top: toRem(4);
        }
    }
}

.info {
    &+& {
        margin-top: toRem(16);
    }
}

.divider {
    margin: toRem(32) 0;
}

.container {
    position: relative;
    z-index: 3;
    max-width: 1200px;
    width: 100%;

    @include media-maxTablet {
        padding-left: toRem(15);
        padding-right: toRem(15);
    }
}

.wrapper {
    position: relative;
    z-index: 3;
    width: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: toRem(10);

    @include media-desktop {
        padding-top: toRem(20);
        height: toRem(80);
        box-sizing: border-box;
        align-items: center;
    }
}

.image {
    position: absolute;
    top: toRem(10);
    left: 50%;
    transform: translateX(-50%);
    width: toRem(80);

    @include media-desktop {
        width: toRem(130);
    }
}