.header {
    display: flex;
    justify-content: center;

    &__menu {
        position: absolute;
        top: toRem(60);
        right: 0;
        opacity: 0;
        transform: translateY(toRem(-500));
    }

    &__container {
        position: relative;
        z-index: 3;
        max-width: 1200px;
        width: 100%;
    }

    @include media-maxTablet {
        &__container {
            padding-left: toRem(15);
            padding-right: toRem(15);
        }
    }

    &__wrapper {
        position: relative;
        z-index: 3;
        width: 100%;
        background-color: var(--surfaceText);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-top: toRem(10);
    }

    &__image {
        position: absolute;
        top: toRem(10);
        left: 50%;
        transform: translateX(-50%);
        width: toRem(80);
    }

    @include media-desktop {
        &__wrapper {
            padding-top: toRem(20);
            height: toRem(80);
            box-sizing: border-box;
            align-items: center;
        }

        &__image {
            width: toRem(130);
        }

        &__menu {
            top: toRem(92);
            right: toRem(2);
        }
    }
}