.booking {
    margin-top: 48px;

    & .inside-iframe:not(.inside-vk-iframe) .bottom-fixed-block .container {
        top: 0 !important;
    }
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 24px;
    border: 1px solid #61616F;
    border-radius: 40px;
    box-sizing: border-box;

    @include media-desktop {
        display: flex;
        padding: 40px;
        border-radius: 60px;
        justify-content: space-between;
        align-items: center;
    }
}

.iframe {
    position: relative;
    min-height: 500px;

    @include media-desktop {
        min-height: 400px;
    }
}

.modal {
    height: 100%;
    border-radius: 40px;
    padding: 24px;
    background-color: #fff;
    margin-bottom: 20px;
    min-height: 500px;

    @include media-desktop {
        min-height: 400px;
    }
}

.title {
    font-size: 24px;
    font-weight: 500;
    line-height: 34px;
    color: rgba(86, 86, 101, 1);

    @include media-desktop {
        font-size: 24px;
        line-height: 34px;
    }
}

.description {
    font-size: 15px;
    line-height: 27px;
    margin-top: 8px;
    color: rgba(133, 136, 141, 1);
}

.button {
    @include media-maxTablet {
        width: 100%;
        margin-top: 20px;
    }
}