$icons: (
    family: '\e900',
    maried: '\e901',
    benefit-15: '\e902',
    benefit-14: '\e903',
    benefit-13: '\e904',
    benefit-12: '\e905',
    benefit-10: '\e906',
    benefit-11: '\e907',
    benefit-9: '\e908',
    benefit-8: '\e907',
    benefit-7: '\e90a',
    benefit-6: '\e90b',
    benefit-5: '\e90c',
    benefit-4: '\e90d',
    benefit-3: '\e90e',
    benefit-2: '\e90f',
    benefit-1: '\e910',
    time: '\e911',
    geo: '\e912',
    mail: '\e913',
    phone: '\e914',
    arrow-right: '\e915',
    arrow-left: '\e916',
);