.certificate {
    margin-top: 80px;

    @include media-desktop {
        margin-top: 150px;
    }
}

.container {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

.decoration {
    @include center(horizontal);
    top: -24px;
    font-size: 48px;
    line-height: 48px;
    color: rgba(250, 251, 253, 1);
    z-index: -1;
    font-weight: 700;

    @include media-desktop {
        font-size: 120px;
        line-height: 120px;
        top: -70px;
    }
}

.title {
    text-align: center;
    font-size: 24px;
    line-height: 34px;
    color: rgba(86, 86, 101, 1);
    font-weight: 600;

    @include media-desktop {
        font-size: 36px;
        line-height: 50px;
    }
}

.wrapper {
    display: flex;
    flex-direction: column-reverse;
    gap: 32px;

    @include media-desktop {
        flex-direction: row;
        gap: 80px;
        margin-top: 60px;
    }
}

.subtitle {
    font-size: 20px;
    line-height: 28px;
    color: rgba(86, 86, 101, 1);
    text-align: center;
    font-weight: 500;

    @include media-desktop {
        text-align: left;
        font-size: 24px;
        line-height: 33px;
        margin-bottom: 20px;
    }
}

.card {
    display: flex;
    gap: 24px;
    margin-top: 24px;

    @include media-desktop {
        box-sizing: border-box;
        padding: 40px;
        border-radius: 1000px;
        border: 1px solid rgba(86, 86, 101, 0.08);
        margin-top: 20px;
    }
}

.icon {
    font-size: 44px;
    color: rgba(86, 86, 101, 1);

    @include media-desktop {
        font-size: 50px;
    }
}

.info {
    font-size: 15px;
    line-height: 27px;
    color: rgba(86, 86, 101, 1);
}

.text {
    font-size: 15px;
    line-height: 27px;
    color: rgba(86, 86, 101, 1);
    display: block;
    margin-top: 24px;

    @include media-desktop {
        margin-top: 40px;
    }
}

.image {
    width: 100%;
    aspect-ratio: 1;

    @include media-desktop {
        width: 618px;
    }
}